<div class="userContainer">
    <mat-card class="shipping-card">

        <mat-tab-group>
            <mat-tab label="User Management">
                <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
                    <div fxFlex="50%" fxLayoutAlign="end center">
                        <button mat-icon-button mat-raised-button (click)="addUser()" color="primary" title="Add new user" aria-label="Add user">
                            <mat-icon>person_add</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <!-- Material table -->
                    <div fxLayout="row">
                        <mat-form-field fxFlex="100%">
                            <mat-label>Filter User</mat-label>
                            <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()" placeholder="Filter user" autocomplete="off">
                            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="clearFilter()">
                            <mat-icon>close</mat-icon>
                        </button>
                        </mat-form-field>
                    </div>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" class="full-width-table" aria-label="Elements">

                            <ng-container matColumnDef="userName">
                                <th mat-header-cell *matHeaderCellDef>User Name</th>
                                <td mat-cell *matCellDef="let row">{{row.userName}}</td>
                            </ng-container>
                            <!-- Display Name Column -->
                            <ng-container matColumnDef="displayName">
                                <th mat-header-cell *matHeaderCellDef>Display Name</th>
                                <td mat-cell *matCellDef="let row">{{row.displayName}}</td>
                            </ng-container>
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef>Email</th>
                                <td mat-cell *matCellDef="let row">{{row.email}}</td>
                            </ng-container>
                            <!-- station Code Column -->
                            <ng-container matColumnDef="region">
                                <th mat-header-cell *matHeaderCellDef>Region</th>
                                <td mat-cell *matCellDef="let row">{{row.region}}</td>
                            </ng-container>
                            <ng-container matColumnDef="province">
                                <th mat-header-cell *matHeaderCellDef>Province</th>
                                <td mat-cell *matCellDef="let row">{{row.province}}</td>
                            </ng-container>

                            <!-- Role Column -->
                            <ng-container matColumnDef="roles">
                                <th mat-header-cell *matHeaderCellDef>Roles</th>
                                <td mat-cell *matCellDef="let row">
                                    <span *ngFor="let role of row.roles">{{role}} </span></td>
                            </ng-container>

                            <!-- Actio Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let row" align="right">
                                    <button mat-icon-button mat-mini-fab color="warn" (click)="deleteUser(row.id)" title="Delete user" aria-label="Delete user">
                                    <mat-icon>delete</mat-icon>
                                </button> &nbsp;&nbsp;
                                    <button mat-icon-button mat-mini-fab color="primary" (click)="editUser(row)" title="Edit user" aria-label="Edit user">
                                    <mat-icon>edit</mat-icon>
                                </button> &nbsp;&nbsp;
                                    <button mat-icon-button mat-mini-fab color="disabled" title="Change password user" (click)="changePassword(row.id)" aria-label="Change user password">
                                    <mat-icon>vpn_key</mat-icon>
                                </button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="loading">
                                <td mat-footer-cell *matFooterCellDef colspan="5">
                                    loading data...
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="noData">
                                <td mat-footer-cell *matFooterCellDef colspan="5">
                                    No Data.
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':  dataSource!=null}"></tr>
                            <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(dataSource!=null && dataSource.data.length ==0)}"></tr>
                        </table>

                        <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[10,25, 50, 100, 250]">
                        </mat-paginator>
                    </div>

                </mat-card-content>
            </mat-tab>
            <mat-tab label="Role Management">
                <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
                    <div fxFlex="50%" fxLayoutAlign="end center">
                        <button mat-icon-button mat-raised-button (click)="addRole()" color="primary" title="Add new role" aria-label="Add role">
                            <mat-icon>vpn_key</mat-icon>
                        </button>
                    </div>

                </mat-card-header>
                <mat-card-content>
                    <!-- Material table -->
                    <div fxLayout="row">
                        <mat-form-field fxFlex="100%">
                            <mat-label>Filter role</mat-label>
                            <input matInput [(ngModel)]="searchKey" (keyup)="applyRoleFilter()" placeholder="Filter role" autocomplete="off">
                            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="clearFilter()">
                            <mat-icon>close</mat-icon>
                        </button>
                        </mat-form-field>
                    </div>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource2" class="full-width-table" aria-label="Elements">
                            <!-- Id Column -->


                            <!-- Name Column -->
                            <ng-container matColumnDef="roleName">
                                <th mat-header-cell *matHeaderCellDef>Role</th>
                                <td mat-cell *matCellDef="let row2">{{row2.roleName}}</td>
                            </ng-container>
                            <!-- Actio Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let row" align="right">

                                    <button mat-icon-button mat-mini-fab color="primary" (click)="editRole(row)" title="Edit user" aria-label="Edit user">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="loading">
                                <td mat-footer-cell *matFooterCellDef colspan="5">
                                    loading data...
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="noData">
                                <td mat-footer-cell *matFooterCellDef colspan="5">
                                    No Data.
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                            <tr mat-row *matRowDef="let row2; columns: displayedColumns2;"></tr>
                            <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':  dataSource2!=null}"></tr>
                            <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(dataSource2!=null && dataSource2.data.length ==0)}"></tr>
                        </table>

                        <mat-paginator #paginator2 [length]="dataSource2?.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[10,25, 50, 100, 250]">
                        </mat-paginator>
                    </div>

                </mat-card-content>
            </mat-tab>
        </mat-tab-group>

    </mat-card>
</div>