<form [formGroup]="userService.editUserForm" novalidate (ngSubmit)="editUser()">
    <h1 mat-dialog-title>Edit User</h1>
    <div mat-dialog-content>
        <div fxLayout="column">
            <mat-form-field class="full-width" fxFlex="0 1 calc(50% - 32px)">
                <input matInput formControlName="userName" [attr.disabled]="true" placeholder="User Name">
            </mat-form-field>
            <mat-form-field class="full-width" fxFlex="0 1 calc( 50% - 32px)">
                <input formControlName="displayName" matInput placeholder="Display Name">
                <mat-error *ngIf="userSubmitted && f.displayName.hasError('required')">
                    Display name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Roles</mat-label>
                <mat-select formControlName="roles" multiple>
                    <!-- <mat-select-trigger>
                        {{Rolse.value ? toppings.value[0] : ''}}
                        <span *ngIf="Rolse.value?.length > 1" class="example-additional-selection">
                      (+{{Rolse.value.length - 1}} {{Rolse.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                    </mat-select-trigger> -->
                    <mat-option *ngFor="let role of userService.availableRoles" [value]="role">{{role}}</mat-option>
                </mat-select>
                <mat-error *ngIf="userSubmitted && f.roles.hasError('required')">
                    Roles name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" (click)="cancelClick()">Cancel</button>
        <button mat-button mat-raised-button color="primary" type="submit" cdkFocusInitial>Save</button>
    </div>
</form>